@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  color: #000;
  background-color: #fff;
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
}
body div {
  padding: 1.25rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1.5rem;
}
p {
  margin: 0;
  line-height: 1.4rem;
}
a {
  text-decoration: none;
}
a:hover,
a:focus-visible {
  /* outline: none; */
  color: magenta;
  text-decoration: underline;
}
ul {
  list-style: none;
}
img {
  max-width: 100%;
}
button {
  cursor: pointer;
  color: #fff;
  background-color: blue;
  border: 3px solid blue;
  border-radius: 10px;
  padding: 10px 16px;
  font-size: inherit;
  font-family: inherit;
}
button:hover {
  background-color: magenta;
  border: 3px solid magenta;
}
.title {
  font-weight: bold;
  font-size: 28px;
}
header {
  padding: 1.25rem;
}
.grid-wrapper {
  display: grid;
  grid-template-columns: auto;
  align-items: center;
}

.grid-nav ul {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  justify-content: end;
  gap: 20px;
}

#banner {
  padding-block: 140px;
  background-color: lightskyblue;
}
#banner .grid-wrapper {
  text-align: center;
}
#banner h1 {
  grid-column: 1 / -1;
  text-align: center;
  padding: 0 0 20px 0;
}
#banner p {
  max-width: 700px;
  grid-column: 1 / -1;
  margin: auto;
}
.float {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: auto;
  justify-content: center;
  /* text-align: center; why doesn't this work? */
  gap: 20px;
}
.float li {
  margin: auto;
  /* but this does? */
}
#services {
  padding-block: 70px 100px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 30px;
}
.card {
  border: 1px solid gray;
  border-radius: 10px;
  padding: 30px;
  display: grid;
  grid-column: span 2;
  gap: 14px;
}
.grid-wrapper div:nth-of-type(4),
.grid-wrapper div:nth-of-type(5) {
  grid-column: span 3;
}
.card i {
  font-size: 30px;
  color: blue;
}
#services h2 {
  grid-column: 1 / -1;
  text-align: center;
}
footer {
  padding: 1rem 2rem;
  background-color: lightgray;
  display: grid;
  grid-auto-flow: column;
  text-align: center;
}
footer p {
  font-weight: 700;
  justify-self: start;
  margin-block: auto;
}
footer ul {
  display: grid;
  grid-auto-flow: column;
  justify-content: end;
  gap: 20px;
}
